body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #18c3c9;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #0c0808;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #000000;
}

section {
    padding: 20px;
}

footer {
    background-color: #11a5ca;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}